:root {
	--back-img: url("http://freshwallpapers.in/walls/high_tech_background-wide.jpg");
}

body {
	background-image: var(--back-img);
}

#container {
	display: grid;
	grid-template-columns: 15em minmax(30em, 100%);
}

#nav {
 background-color: pink;
 /* flex: 1 1 17em; */
 /* width: minmax(17em, 20em); */
 /* width: 200px; */
 /* float: left; */
}

#tribute-info {
 background-color: blue;
 opacity: .75;
 /* flex-shrink: 2; */ 
 /* flex-grow: 6; */ 
 display: grid;
 grid-template-rows:
	repeat(9, auto);
	padding: 20px;
}

#menu {
	/* background-color: green; */
  position: fixed;
	padding: 20px;
	display: grid;
	grid-template-rows:
		repeat(6, auto);
	grid-gap: 10px;
}

.menu-item {
	text-decoration: none;
	border-width: 5px;
	padding: 4px;
	border-style: solid;
}

.menu-item:hover {
	background-color: blue;
	transform: scale(1.2);
}

h1 {
	text-align: center;
}

#image {
	display: block;
	margin: auto;
	border-radius: 50%;
	width: 50%;
}

#img-caption {
	text-align: center;
	i

}
