:root {
	--negative-space: hsla(263, 50%, 75%, 1);

	--nav-back: hsla(143, 44%, 70%, 1);
	--menu-head-back: hsla(263, 50%, 50%, 1);
	--menu-item-back: hsla(23, 44%, 81%, 1);
	--menu-item-back-hover: hsla(83, 44%, 81%, 1);
	--menu-text-color: hsla(203, 50%, 50%, 1);
	--menu-item-font: Arial Rounded MT Bold, Helvetica Rounded, Arial, sans-serif;  
	--tribute-back: hsla(143, 44%, 85%, 1);
	--tribute-font: Perpetua, Baskerville, Big Caslon,serif;
	--tribute-text-color: hsla(23, 50%, 25%, 1);
	--header-font-size: 45px;
	--subheader-font-size: 30px;
	--quote-font-size: 25px; 
	--quote-padding: 3px;
	--tribute-padding: 40px;
}

body {
	background-color: var(--negative-space);
}

#container {
	margin:-.5em;
	display: grid;
	grid-template-columns: 280px minmax(480px, 900px);
	/* outline: solid; */
  height: 100%;
}

#nav {
 background-color: var(--nav-back);
 position: fixed;
 width: 280px;
}

@media only screen and (max-width: 800px) {
	#container {
		grid-template-columns: 0px 100%;
	}

}

@media only screen and (max-width: 400px) {
	:root {
		--header-font-size: 10vw;
		--subheader-font-size: 7vw;
		--quote-font-size: 5.5vw; 
		--tribute-padding: 7vw;
		--quote-padding: 0vw;
	}
}

#tribute-info { 
	font-family: var(--tribute-font);
 color: var(--tribute-text-color); 
 /* background-color: blue; */
 /* opacity: .75; */
 /* border-style: solid; */
 display: grid;
 grid-template-rows:
	repeat(9, auto);
 padding: var(--tribute-padding, 40px);
 background-color: var(--tribute-back);
}

#menu {
	text-align: center;
	color: var(--menu-text-color);
	padding: 20px;
	display: grid;
	grid-template-rows:
		repeat(6, auto);
	grid-gap: 10px;
}

#menu h2 {
	border-style: solid;
	background-color: var(--menu-head-back);
	padding: 20px;
}

.menu-item {
	font-family: var(--menu-item-font);
	color: var(--menu-text-item-color);
	background-color: var(--menu-item-back);
	text-decoration: none;
	border-width: 5px;
	padding: 4px;
	outline: solid;
}

.menu-item:hover {
	background-color: var(--menu-item-back-hover);
	transform: scale(1.1);
}

h1 {
	font-family: Fantasy, sans-serif;
	font-size: var(--header-font-size, 45px);
	font-weight: 900;
	text-align: center;
}

#subtitle {
	font-size: 15px;
}


h2 {
	font-family: Copperplate, Copperplate Gothic Light, fantasy;
	font-size: var(--subheader-font-size,30px);
	font-weight: 200;
}

@media only screen and (max-width: 400px) {
	h2 {
		text-align: center;
	}
}	

#image {
	display: block;
	margin: auto;
	border-radius: 50%;
	width: 65%;
	max-width: 400px;
	border-style: solid;
	border-width: 5px;
}

#img-caption {
	text-align: center;
}

.paragraph {
	/* border-style: solid none solid none; */
	/* background-color: yellow; */
	font-size: 18px;
}

.cool-quote{
	/* background-color: blue; */
	padding: var(--quote-padding, 3px);
	color: gray;
	font-size: var(--quote-font-size, 25px);
	font-style: italic;
	text-align: center;
	/* border-radius: 10px; */
	/* border-style: solid; */
}

footer {
	text-align: center;
}

@media only screen and (max-width: 400px) {
	footer {
		font-size: 4vw;
	}
}	
